<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Inspirational Quotes</title>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js'></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="factory.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body ng-controller="controller as cont">
    <header class="page-header">
      <div class="col-xs-6 col-xs-offset-3">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRIAdYuFtxArjfLLS29RKJGZgMtXE-mcon-VkXkHyZSKZUdG0lw">
        <h1 ng-click="cont.speak()">Get<br>Inspired</h1>
      </div>
      <form ng-submit='cont.addQuote()' class="col-xs-6 col-xs-offset-3">
        <input type="text" placeholder="enter a quote" required="true" ng-model='cont.newQuote' name='cont.inputQuote'>
        <input type="text" placeholder="enter the author" required="true" ng-model='cont.newAuthor'>
        <button type='submit' class='btn btn-sm btn-warning'>Submit</button>
      </form>
    </header>
    <div class="col-xs-1 col-xs-offset-8">
      <button class="btn btn-sm btn-info clear" ng-show="cont.show" ng-click="cont.clear()">Clear</button>
    </div>
      <div class="row">
        <div ng-repeat='quote in cont.listOfQuotes | orderBy : quote.rating | filter : {author : cont.quoteAuthor}' class='col-xs-6 col-xs-offset-3 quote' ng-click="cont.displayQuoteOptions()">
          <h3>{{ quote.quote }}</h3>
          <blockquote ng-click="cont.authorList(quote)" ng-model="cont.quoteAuthor">- {{ quote.author }}</blockquote>
          <span class="col-xs-1 col-xs-offset-10 rating">Rating:{{ quote.rating }}</span>
        </div>
      </div>
  </body>
</html>
