body {
  background-color: lightyellow;
}
input{
  height: 30px;
}

header div img {
  margin: 8px;
}

img {
  width: 400px;
  /*display: inline;*/
  float: right;
}
form {
  /*clear: both;*/
}

header h1 {
  font-size: 60px;
}

.btn {
  margin-top:-4px;
}
.quote {
  background-color: lavender;
  margin-top: 10px;
}
.quote:hover {
  background-color: thistle;
}
.quote:first-of-type {
  margin-top: 10px;
}

.clear {
  margin-top: -53px;
  margin-left: 10px;
}
